/* Very Smol Reset */
* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-size: 20px;
}

/* Layout */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1vh clamp(1rem, 5vw, 3rem) 0;
  font-family: "Barlow Semi Condensed", serif;
  line-height: 1.5;
  color: #000;
  background-color: #f1f4ff;
  overflow-x: hidden;
}

body > * {
  --layout-spacing: max(8vh, 3rem);
  --max-width: 75ch;
  width: min(100%, var(--max-width));
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

nav p {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.135em;
}

nav p span {
  color: #3e36a5;
  border-bottom: 0.2rem solid #000;
}

nav [aria-current="page"] {
  font-weight: bold;
}

header,
main,
main > * + * {
  margin-top: 2rem;
}

footer {
  background-color: #fff;
  padding: 2rem;
  margin: 3rem auto 0 auto;
  text-align: center;
}

footer > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
  gap: 3rem;
}

footer p {
  margin-bottom: 1rem;
}

footer div span {
  background-color: #000;
  color: #fff;
  padding: 0.2rem 0.5rem;
  font-weight: 500;
  font-size: 0.7rem;
  letter-spacing: 0.135em;
  text-transform: uppercase;
}

footer img {
  max-width: 100%;
}

footer .imprint {
  font-weight: 500;
  font-size: 0.7rem;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.135em;
}

footer .imprint:hover {
  text-decoration: none;
}

article * + * {
  margin-top: 1em;
}

#language-switch > * {
  text-transform: uppercase;
  box-shadow: 5px 5px 0px #000;
  padding: 0.35rem 0.7rem;
  border: 1px solid #000;
  font-weight: 600;
}

#language-switch span {
  background-color: #f1f4ff;
  color: #000;
}

#language-switch a {
  background-color: #3e36a5;
  color: #fff;
}

/* Typography */
:is(h1, h2, h3) {
  line-height: 1.2;
  font-family: "Barlow Condensed", sans-serif;
}

h1 {
  font-size: 2.4rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  font-size: 1.8rem;
  font-weight: 700;
}

:is(h1, h2) {
  max-width: 60ch;
}

a {
  color: #0a0a0a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header h1 {
  display: inline;
  padding: 0.5rem 0.8rem;
  color: #fff;
  background-color: #3e36a5;
  text-transform: uppercase;
  letter-spacing: 0.135em;
}

/* Media */

article img {
  display: block;
  width: 100%;
  min-height: 20rem;
  max-height: 40vh;
  object-fit: cover;
  margin: 2rem auto;
}

@supports (aspect-ratio: 1) {
  article img {
    max-height: unset;
    aspect-ratio: 3/2;
  }
}

/* Supporting Content */

code:not([class*="language"]) {
  font-family: Menlo, Ubuntu Mono, monospace;
  font-size: 1.75ex;
  color: #cccccc;
  background-color: #0a0a0a;
  padding-right: 0.15em;
  padding-left: 0.15em;
}

blockquote {
  background: #ffffff;
  border: 2px solid #000000;
  box-shadow: 8px 8px 0px #000000;
  transition: 0.25s ease-in-out;
}

blockquote:hover {
  box-shadow: 0 0 0 #000000;
}

blockquote h3 {
  padding: 1rem 1.5rem;
  color: #fff;
  background: #3e36a5;
  text-transform: uppercase;
}

blockquote p {
  margin-top: 0;
  padding: 1.8rem 1.6rem;
  color: #000;
  background: #fff;
  font-size: 1.5rem;
  font-weight: 500;
}

#cta {
  text-align: center;
}

#cta a {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  color: #fff;
  background: #3e36a5;
  text-decoration: none;
  border: 2px solid #000;
  box-shadow: 8px 8px 0px #000;
  transition: 0.25s ease-in-out;
}

#cta a:hover {
  box-shadow: 0 0 0 #000;
}
